
  <ul class="list-unstyled">
    <% favorited.each do |favorite| %>
      <li class="media">
        <img class="mr-2 rounded" src="<%= gravatar_url(favorite.user, { size: 50 }) %>" alt="">
        <div class="media-body">
          <div>
            <%= link_to favorite.user.name, user_path(favorite.user) %> <span class="text-muted">posted at <%= favorite.created_at %></span>
          </div>
          <div>
            <p class="mb-0"><%= favorite.content %></p>
          </div>
          <div>
          <%= render "favorites/favorite_button" ,book: favorite %>
        </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate favorited %>
