<%= render 'navtab',users: @user %>
<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <aside class="col-sm-4">
   <div class="field">
    <%= form.label :"画像" %>
    <%= form.file_field :image %>
  </div>
  </aside>
  <aside class="col-sm-8">
  <img class="mr-2 rounded" src="<%= gravatar_url(@user, { size: 50 }) %>" alt="">
  <%= @user.name %>
  
  <div class="field">
    <%= form.label :"タイトル:" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :"著者:" %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :"感想"  %>
    <%= form.text_area :content ,size: "10x5", class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </aside>
</div>
<% end %>
